
@{
    ViewData["Title"] = "CalculateInterest";
}

<h1>CalculateInterest</h1>

<p>Every time this page is loaded, one of two things can happen.</p>
<ol>
    <li>
        If no interest has been calculated today, then the program will go through and retroactively create interest
    </li>
    <li>
        If interest has been calculated today, then one day's worth of interest will be applied, for testing reasons
    </li>
</ol>